body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#timer {
  font-size: 20rem;
  font-weight: bold;
}

